<script src="../dist/vue-next-write.global.js"></script>

<div id="root"></div>

<script>
  const { render, effect, reactive } = Vue

  let state = reactive({
    name: 'vue-next',
    count: 0
  })

  function handleClick() {
    state.count = state.count + 1
  }

  const Counter = {
    setup() {
      console.log('只执行一次！！！')
      return () => ({
        type: 'div',
        props: null,
        children: [
          {
            type: 'h2',
            props: null,
            children: state.name
          },
          {
            type: 'div',
            props: { style: 'color: red' },
            children: '数量： ' + state.count
          },
          {
            type: 'button',
            props: { onClick: handleClick },
            children: '点击一下'
          },
          {
            type: Child,
            props: null,
            children: ''
          }
        ]
      })
    }
  }

  const Child = {
    setup() {
      return () => ({
        type: 'div',
        props: null,
        children: 'I am a child'
      })
    }
  }

  render({ type: Counter, props: null, children: '' }, root)
</script>
